<mat-toolbar color="light">
  <a href="" class="logo">Jobful</a>
</mat-toolbar>
<!-- 


<!-- ########################################################################################################### -->

<div class="ion-padding container">
  <h1>Login</h1>
  <div class="form-container">
    <form [formGroup]="login_form">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          class="email-login"
          [(ngModel)]="user_email"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="{{ showPassword ? 'text' : 'password' }}"
          [(ngModel)]="password"
          [(ngModel)]="user_password"
          formControlName="password"
        ></ion-input>
        <ion-icon
          slot="end"
          [name]="showPassword ? 'eye-off' : 'eye'"
          (click)="toggleShowPassword()"
        ></ion-icon>
      </ion-item>

      <ion-button
        mode="ios"
        expand="block"
        class="main-button"
        (click)="login()"
        [disabled]="!login_form.valid"
        >Login</ion-button
      >
    </form>

    <div class="sign-up">
      Don't have an account?
      <ion-button
        color="dark"
        fill="clear"
        (click)="go_signup()"
        routerDirection="forward"
        >Sign up</ion-button
      >
    </div>
  </div>
</div>

<footer class="footer">
  <p class="footer-title">Copyrights @ <span>Ahmed Ala</span></p>

  <div class="social-icons">
    <a href="#facebook">
      <mat-icon>facebook</mat-icon>
    </a>

    <a href="#Twiter">
      <mat-icon>github</mat-icon>
    </a>

    <a href="#linkedin">
      <mat-icon svgIcon="twitter"></mat-icon>
    </a>
  </div>
</footer>
