<mat-toolbar color="light">
  <a href="" class="logo">Jobful</a>
</mat-toolbar>

<!-- ############################################################# -->

<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container">
  <h1>Join as a client or freelancer</h1>

  <div class="checker">
    <div class="card" style="display: flex">
      <mat-card style="border-radius: 50px">
        <mat-radio-button value="client" (click)="set_option($event)">
          <h3 class="option1">As Client</h3>
        </mat-radio-button>
      </mat-card>

      <div class="client-check">
        <p class="desc">I'am a client, hiring for a project</p>
      </div>
    </div>

    <div class="card" style="display: flex">
      <mat-card style="border-radius: 50px">
        <mat-radio-button value="freelancer" (click)="set_option($event)">
          <h3 class="option1">As freelancer</h3>
        </mat-radio-button>
      </mat-card>

      <div class="client-check">
        <p class="desc">I'am a client, hiring for a project</p>
      </div>
    </div>
  </div>
  <button
    class="create-acc"
    mat-raised-button
    color="light"
    disabled
    [hidden]="isHidden"
  >
    Create An Account
  </button>
  <button
    class="submit-choose"
    *ngIf="freelancer"
    mat-raised-button
    color="primary"
    (click)="go_signup_freelancer()"
  >
    Apply as {{ freelancer }}
  </button>
  <button
    class="submit-choose"
    *ngIf="client"
    mat-raised-button
    color="primary"
    (click)="on_continue()"
  >
    Join as {{ client }}
  </button>
</div>
<!-- ########################################################################################################### -->

<footer class="footer">
  <p class="footer-title">Copyrights @ <span>Ahmed Ala</span></p>

  <div class="social-icons">
    <a href="#facebook">
      <mat-icon>facebook</mat-icon>
    </a>
  </div>
</footer>
