<mat-toolbar>
  <a href="" class="logo">Jobful</a>

  <div class="tool-links">
    <button mat-raised-button color="warn" class="login-btn">Skip</button>
  </div>
</mat-toolbar>

<div class="login-box">
  <h2 class="text-complete">Let's Complete your profile</h2>
  <form>
    <div>
      <ion-item lines="none">
        <ion-label position="floating">Enter Title</ion-label>
        <ion-input type="text" placeholder="Ex. Ahmed"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item lines="none">
        <ion-label position="floating">Overview</ion-label>
        <ion-input type="text" placeholder="I can do ..."></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item lines="none">
        <ion-label position="floating">Write Your bio</ion-label>
        <ion-textarea rows="1"></ion-textarea>
      </ion-item>
    </div>

    <div>
      <ion-item lines="none">
        <ion-label position="floating">Enter you country</ion-label>
        <ion-input type="text" placeholder="Ex. Egypt"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item lines="none">
        <ion-label position="floating">Enter you City</ion-label>
        <ion-input type="text" placeholder="Ex. Alex"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item lines="none">
        <ion-label position="floating">Street Address</ion-label>
        <ion-input type="text" placeholder="Ex. Sidi Gaber"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item lines="none">
        <ion-label position="floating">Hourly Rate</ion-label>
        <ion-input type="number" placeholder="Ex. 7"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item lines="none">
        <ion-label position="floating">Rating</ion-label>
        <ion-input type="number" placeholder="Ex. 4.7"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item lines="none">
        <ion-label position="floating">Phone number</ion-label>
        <ion-input type="text" placeholder="Ex. 01211111105"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item>
        <ion-label>Upload your picture</ion-label>
        <ion-input type="file"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item>
        <ion-label>Upload your picture</ion-label>
        <ion-input type="file"></ion-input>
      </ion-item>
    </div>

    <ion-button expand="block" fill="outline">Continue</ion-button>
  </form>
</div>

<footer class="footer">
  <p class="footer-title">Copyrights @ <span>Ahmed Ala</span></p>

  <div class="social-icons">
    <a href="#facebook">
      <mat-icon>facebook</mat-icon>
    </a>

    <a href="#Twiter">
      <mat-icon>github</mat-icon>
    </a>
  </div>
</footer>
