<mat-toolbar>
  <a href="" class="logo">Jobful</a>

  <div class="tool-links">
    <button mat-raised-button color="warn" class="login-btn">Skip</button>
  </div>
</mat-toolbar>

<div class="login-box">
  <h2 class="text-complete">Let's Complete your profile</h2>
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Your Title</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Ex. OSRoot"
      />
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Write Overview </label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="2"
        placeholder="What do you do?"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Write Your bio</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="2"
        placeholder="I am ..."
      ></textarea>
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Your Country</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Ex. Egypt"
      />
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">City</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Ex. Alex"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Street</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Ex. Sidi Gaber"
      />
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">HourlyRate</label>
      <input
        type="number"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Ex. 7"
      />
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Rating</label>
      <input
        type="number"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Ex. 4.7"
      />
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Phone</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Ex. 01211111105"
      />
    </div>

    <div class="form-group">
      <label for="exampleFormControlFile1">Upload your CV</label>
      <input
        type="file"
        class="form-control-file"
        id="exampleFormControlFile1"
      />
    </div>

    <div class="form-group">
      <label for="exampleFormControlFile1">Choose your picture</label>
      <input
        type="file"
        class="form-control-file"
        id="exampleFormControlFile1"
      />
    </div>

    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Continue
    </a>
  </form>
</div>

<footer class="footer">
  <p class="footer-title">Copyrights @ <span>Ahmed Ala</span></p>

  <div class="social-icons">
    <a href="#facebook">
      <mat-icon>facebook</mat-icon>
    </a>

    <a href="#Twiter">
      <mat-icon>github</mat-icon>
    </a>

    <a href="#linkedin">
      <mat-icon svgIcon="twitter"></mat-icon>
    </a>
  </div>
</footer>
