<mat-toolbar color="light">
  <a href="" class="logo">Jobful</a>

  <div class="tool-links">
    <button
      mat-raised-button
      color="warn"
      class="login-btn"
      (click)="go_back()"
    >
      Go Back
    </button>
  </div>
</mat-toolbar>

<div class="ion-padding container">
  <h1>Sign up to find work you love</h1>

  <div class="form-container">
    <form [formGroup]="signup_form">
      <ion-item>
        <ion-label position="floating">First name</ion-label>
        <ion-input
          [(ngModel)]="user_firstname"
          formControlName="firstname"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last name</ion-label>
        <ion-input
          [(ngModel)]="user_lastname"
          formControlName="lastname"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user_email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input [(ngModel)]="user_phone" formControlName="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="{{ showPassword ? 'text' : 'password' }}"
          [(ngModel)]="password"
          [(ngModel)]="user_password"
          formControlName="password"
        ></ion-input>
        <ion-icon
          slot="end"
          [name]="showPassword ? 'eye-off' : 'eye'"
          (click)="toggleShowPassword()"
        ></ion-icon>
      </ion-item>

      <ion-button
        mode="ios"
        expand="block"
        class="main-button"
        (click)="signup()"
        [disabled]="!signup_form.valid"
        >Sign up</ion-button
      >
    </form>

    <div class="sign-up">
      Already have an account?
      <ion-button
        color="dark"
        fill="clear"
        (click)="onLogin()"
        routerDirection="back"
        >Login</ion-button
      >
    </div>
  </div>
</div>
