<mat-toolbar color="light">
  <a href="" class="logo">Jobful</a>

  <div class="tool-links">
    <button
      mat-raised-button
      color="warn"
      class="login-btn"
      (click)="onLogin()"
    >
      Login
    </button>
  </div>
</mat-toolbar>

<!-- Content  -->
<!-- <app-spinner *ngIf="isLoading"></app-spinner>
<div class="join-msg">
  <h1>Join to find work you love</h1>
</div>
<div class="container">
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td class="td1">
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-form-field class="example-full-width">
      <mat-label>Email Address</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password </mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <div class="agree">
      <input type="checkbox" id="checkbox" name="checkbox" />
      <label for="checkbox">I Agree on terms and conditions</label>
    </div>
    <button
      mat-raised-button
      class="signup-btn"
      style="width: 100%"
      routerLink="/complete-freelancer"
    >
      Sign Up
    </button>
  </form>

  <div class="go-login">
    <h3>
      Already have an account?
      <button mat-button color="light" routerLink="/login">Login</button>
    </h3>
  </div>
</div> -->
<!-- 

<form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form> -->

<div class="login-box">
  <h2>Join to find work you love</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="" />
      <label>First name</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="" />
      <label>Last name</label>
    </div>

    <div class="user-box">
      <input type="text" name="" required="" />
      <label>Email Address</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="" />
      <label>Password</label>
    </div>

    <a (click)="signup()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Join Now
    </a>
  </form>
</div>
<!-- ##################################################3 -->

<footer class="footer">
  <p class="footer-title">Copyrights @ <span>Ahmed Ala</span></p>

  <div class="social-icons">
    <a href="#facebook">
      <mat-icon>facebook</mat-icon>
    </a>
  </div>
</footer>
